@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Bungee+Shade&family=Cinzel:wght@400;700&family=Merriweather:wght@400;700&family=Shrikhand&family=Silkscreen:wght@400;700&family=Source+Serif+Pro&display=swap');

body {
  margin: 0;
  padding: 0;
  width: auto;
  /* background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAE5JREFUKFNjtDt1/j8DAwPDITNDRhCNCzASrRCbCQ9u2IFtUdA4BLcFq3VEK8RmC2PFeYg1HYYIayhTiE33p5lxYFv40hfh9wzRCrHZAgDvfSAL13A91QAAAABJRU5ErkJggg==)
  repeat; */
}

#myVideo-1 {
  position: fixed;
  object-fit: contain;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


#myVideo-4 {
  position: absolute;
  object-fit: contain;
  top: 40px;
  right: -900px;
  width: 675px;
  z-index: 500;
}


/* header styles */

.header {
  display: flex;
  background-color: black;
  width: auto;
  height: 80px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
  z-index: 110;
  position: relative;
}

.title {
  z-index: 100;
}


h1 {
  font-family: 'Shrikhand', cursive;
  color: white; 
}

h1:hover {
  color: rgb(19, 175, 247);
  cursor: pointer;
  
}

.nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
 
}

a {
  color: white;
  font-family: 'Courier New', Courier, monospace  ;
  font-size: 20px;
  text-decoration: none;
  margin: 12px;
  
}


/* content styles */

.content {
  width: auto;
  height: auto;
  display: flex;
  margin: 0px;
  padding: 80px 100px;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 50%;
  line-height: 1.3;
}

.title-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  margin-bottom: 20px;
}

.title-text span {
  font-family: 'Source Serif Pro', serif;
  font-size: 90px;
  color: rgb(19, 175, 247);
}

.subtitle-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 45px;
}

.subtitle-text a{
  font-family: 'Source Serif Pro', serif;
  background-color: black;
  color: white;
  font-size: 50px;
}

.right {
  display: flex;
  width: 50%;
  justify-content: center;
}

.image-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  border: 4px solid black;
}

.image-container img {
  height: 750px;
}

/* filler styles */
.filler{
  display: flex;
  background-color: #4E6C50;
  width: auto;
  height: 100vh;
  margin: 0;
  padding: 10%;
  justify-content: center;
  position: relative;
}



.lyric-container{
  display: flex;
  flex-direction: column;
  border: 4px solid white;
  overflow: visible;
  height: 90%;
  width: 90%;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
}
 
.lyric strong {
  font-size: 190px;
  font-style: italic;
}

.lyric {
  font-family: 'Source Serif Pro', serif;
  color: white;
  font-size: 110px;
}

.song a {
  background-color: black;
  color: white;
  font-size: 50px;
}

.song {
  display: flex;
  justify-content: end;
  margin-top: 30px;
}

/* shirt-section styles */

.shirt-section {
  display: flex;
  width: auto;
  height: auto;
  background-color: #ebebeb;
  padding: 90px;
  justify-content: center;
  margin: 0;
  position: relative;
}

.shirt-section-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shirt-section-title {
  font-family: 'Source Serif Pro', serif;
  font-size: 80px;
  margin-bottom: 50px;
}

.shirt-section-title span {
  color: rgb(19, 175, 247);  
}

.merch-container {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.shirt-section-merch {
  margin: 0;
  display: flex;
  position: relative;
}

.merch-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}
.merch-holder img {
  margin: 0;
  width: 380px;
}

.merch-name {
  font-family:'Source Serif Pro', serif;
  font-size: 24px;
  color: black;
  margin-top: -15px;
}

/* footer */
.footer {
  display: flex;
  background-color: black;
  width: auto;
  height: 40px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 16px;
}
/* media queries */
/* mobile phones screen */

/*
@media screen and (max-width: 480px) {

  .header {
    justify-content: center;
  }

  .nav {
    display: none;
  }

  .content {
    flex-direction: column;
  }

  .left {
    text-align: center;
    width: auto;
    justify-content: center;
  }

  .subtitle-text, .subtitle-text a {
    font-size: 25px;
  }

  .right {
    width: auto;
  }
  .image-container {
    margin-top: 30px;
  }

  .image-container img {
    height: 400px ;
  }

  .filler {
    width: auto;
    height: 50vh;
  }

  .lyric-container {
    overflow: hidden;
    flex-wrap: wrap;
  }

  .lyric strong {
    font-size: 30px;
  }

  .lyric {
    font-size: 25px;
  }

  .song a{
    font-size: 14px;
    margin-top: 30px;
  }

  .shirt-section, .shirt-section-container, .shirt-section-merch, .merch-container, .merch-holder {
    width: auto;
  }
  
  .shirt-section-title {
    font-family: 'Source Serif Pro', serif;
    font-size: 28px;
    margin-bottom: 15px;
  }

  .merch-holder img {
    margin: 0;
    width: 350px;
  }

  .merch-name {
    font-family:'Source Serif Pro', serif;
    font-size: 22px;
    color: black;
    margin-top: -10px;
  }

  #myVideo-2, #myVideo-3, #myVideo-4 {
    display: none;
  } 
}

/* tablets to regular pc screen */

/*
@media screen and (max-width: 1100px) {

  .nav {
    display: none;
  }

  .header {
    justify-content: center;
    align-content: center;
  }

  .content {
    flex-direction: column;
  }

  .left {
    width: auto;
    justify-content: center;
  }

  .right {
    width: auto;
  }

  .image-container {
    margin-top: 30px;
  }

  .image-container img {
    height: 600px ;
  }

  .lyric-container {
    overflow: hidden;
    flex-wrap: wrap;
  }

  .lyric strong {
    font-size: 80px;
  }

  .lyric {
    font-size: 40px;
  }

  .song a{
    font-size: 30px;
    margin-top: 30px;
  }

  .filler {
    width: auto;
    height: 50vh;
  }

  #myVideo-4 {
    top: 40px;
  right: -250px;
  width: 675px;
  }

}

@media screen and (max-width: 800px) {
  #myVideo-4 {
    display: none
  }
}

